<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Forum</title>
</head>
<body>
    <div>
        <button style="border-radius: 5px; border: 1px solid #666" type="button"><a class="navbar-brand" href="/">Главная</a></button>
        <button type="button"><a class="navbar-brand" href="/Home/UserList">Список пользователей</a></button>
        <button type="button"><a class="navbar-brand" href="/">Регистрация</a></button>
        <button type="button"><a class="navbar-brand" href="/">Вход</a></button>
    </div>

    <div class="container body-content"> 
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Forum</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>