<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="ForumConnection"
         providerName="System.Data.SqlClient"
         connectionString= "Data Source=(localdb)\ProjectsV13;Initial Catalog=ForumDB;Integrated Security=True;"/>
  </connectionStrings>
</configuration>